<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                      http://maven.apache.org/xsd/settings-1.0.0.xsd">
    <activeProfiles>
        <activeProfile>flowlogix-repository</activeProfile>
        <activeProfile>jakarta-ee10-version-override</activeProfile>
    </activeProfiles>

    <profiles>
        <profile>
            <id>jakarta-ee10-version-override</id>
            <properties>
                <jakarta.ee10.version>10.0.0-lp-nov6</jakarta.ee10.version>
            </properties>
        </profile>

        <profile>
            <id>flowlogix-repository</id>
            <repositories>
                <repository>
                    <id>flowlogix-repository</id>
                    <url>https://nexus.flowlogix.com/repository/maven-releases</url>
                    <releases>
                        <enabled>true</enabled>
                        <checksumPolicy>fail</checksumPolicy>
                    </releases>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                </repository>
            </repositories>
            <pluginRepositories>
                <pluginRepository>
                    <id>flowlogix-plugin-repository</id>
                    <url>https://nexus.flowlogix.com/repository/maven-releases</url>
                    <releases>
                        <enabled>true</enabled>
                        <checksumPolicy>fail</checksumPolicy>
                    </releases>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                </pluginRepository>
            </pluginRepositories>
        </profile>
    </profiles>
</settings>
